{
    "http-basic": {
        "repo.magento.com": {
            "username": "0b62253197a54b80b0898b5bd66e74c5",
            "password": "MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC7tC81sfj1Jn/a
sO8GPt+EBWtEmFdwpHqavF3OkDDWQLldeiRqbcsRRYebB94Tfuw5lIBc6i11HWYQ
PeDyX6aLsGt8n1JhJzpiSG4nZov+POZAQSc3jH4Lj0RyL7N5ncnYBTMa4smfej/C
DFBMEKfgDPbnY9KtgzmtI9wvjkO2olBFl74odXikrA6lDmfbvnJqVbnkJ9iJD2ZG
Q7ho18Y2hsbBWwogu0zQ7c/Tv9s674sAoT8rSrzIElZFgz54TDlNsrsjQq9ffA8v
bFYRfimaGIfle+LpJHbikCcCmvRpvGlANA2jTBPoL6hc+Mrd4tDMIWooMEq7x//d
l6n6wvQdAgMBAAECggEAQYO+GJ1CWnqyFIg+HW1zgXaMvrf3iRr3qiuGCHOegCG+
MUjRDg69Wo1sq+lek2pxFBXnica40BBPT+rxKVfGXypYEfrf+4YAJE7Il9r8kOP7
r8Ct6f8Q/YLnbn2ExLWUvl/uOvueSRoXx+iZXDtSBOsxgIkAf0x2pJ6IG1cp/kPl
tC4PxKYwUPHWI5yBmS/gtD9bThBBNxlcYDFuMTGJu3UrmfKadefVmAt+81G0ob6B
1kH3stt3G6JCtv/lKs8S/4o9/XUCTRxmLC4SPxCOP/E1neMwQtfzy9rMU5tmyXnJ
UTKmNvGs85j5+n6xiw6COqGcAK+w91TAsAVL76zwVwKBgQD5o7UtjbVRA9B+3bUl
5aNFJRxk5spoJpG7wO+bFrXtvhfWceifW+5GziRRUIW6llXJI3vFPqJnyygcK7ee
fh2tH8kPTy96PFQs1i2yQobZL5La5U3+bXnLhHmwzp4PemocH2CM1j+vLEhRhOE1
mYD0RhvVZrhrAr3DVeCSL5kxbwKBgQDAfH8wxPFrkJsb3QIYjPZXWsoPVa6bm6JD
OP/FZLaPIIInY1OL3Kb6XKSEfD9Wc8gfbWx/foJK3qYlKJbfNPwgXV+NC0E2gzXQ
fd8qfyUYVHVlp18MrU9OVyAlXMGGSLrFSqNUjeg9kmaaQDdG6DKByW+EsU+n0i3j
AwjXfNAVMwKBgQDNnQwOUCimaMjipYOdii3XNsDTTtApxpLEHR59E9CW17pUk4+x
Kgvw37tEClmLHGXd/E7mYDdt3APWaB+d+GxC+uokpOkK+gOuxl3u9CKTYj7H8pQx
2kO14BBHE3dWclJRhXqFpbXgd029bv/7oMp46AHm2+tLoH9iEyqb3X6FGwKBgQCX
yBQLguDT7v1AZW/nqBAAJgk7OlcrQPgche+52YbTKdE3+ezBVsccmLzp84eGRlpB
3ek2R626GANvPahqbb96Teaws3VC5QgkVX0KZ6P6oW7JL8eVmXv1zGH+1DuOBf+w
3wAYBqZhFvZtH8H22dYp3YtgWOj07plcbuIj+bmjXQKBgFEDTW5lPLRnxBp+Mq6P
pSTxBhxYxuNT6l9jdbXMmHPiOo9GjJ7561NFh30yKwW1qbizfDUGbX9c0b0J3Vu2
zeRPnRgSU5SOHLQkgFW0oXNtJAhTgOYiJ1dWrkPRw/lIcOPNaIAdmUeVOGye5VeJ
jMqf+oHzA/eA6Is1YMM/RbIq"
        }
    }
}